{
  "Discord": {
    "Token": "<token from https://discord.com/developers/applications>"
  },
  "Database": {
    "ConnectionString": "Host=localhost;port=5432;Username=<name>;Password=<pass>;Database=polyesterdb"
  }
}
